<h3 class="container text-center">Importar Producto</h3>
<hr class="container">
<div class="container">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">

        <div class="col-lg-4">
            <input type="text" class="form-control" id="validationServer01" >
            <div >
                Nombre del producto
            </div>
        </div>

        <div class="col-lg-4">
            <input type="text" class="form-control" id="validationServer01" value="Mark" required="">
            <div>
                Tipo de producto
            </div>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control " id="validationServer01" value="Mark" required="">
            <div >
                Precio
            </div>
        </div>



    </div>

</div>